/* - White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)
 */

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

div:first-child {
    width: 300px;
    /* max-width: 450px; */
    background-color: white;
    border-radius: 20px;
    padding: 15px;
}

div:nth-child(2) {
    bottom: 0;
    position: absolute;
}

div:first-child p:nth-of-type(1) {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

div:first-child p:nth-of-type(2) {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}